* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #291B0A;
}

.navbar {
    position: absolute;
    left: 1em;
    color: #EFE1D1;
}

.navbar a {
    color: #EFE1D1;
    font-size: 2em;
}

.profile_photo {
    border-radius: 50%;
    max-height: 20em;
    max-width: 20em;
}

.profile_photo:hover {
    box-shadow: 0 0 2px 1px rgba(235, 98, 18, 0.5);
}

.photo_name {
    color: #EFE1D1;
    text-align: center;
}

.page_header {
    position: relative;
}